.logo{
	border-style: solid;
    padding: 25px; 
    width: 30%;
	height:220px;
	text-align: center;
	display: inline-block;
	float:left;
	overflow: hidden;
	background-color:#FFFFFF;
}
.steelpanheader{
	border-style: Solid;
    padding: 20px; 
    width: 70%;
	height:220px;
	float:left;
	background-color:#FFFFFF;
	overflow: hidden;
}
.navigation{
	border-style: solid;
    padding: 25px; 
    width: 30%;
	height:500px;
	text-align: center;
	display: inline-block;
	float:left;
	background-color:#1E90FF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 12px 20px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
.tenor{
	border-style: solid;
    padding: 25px; 
    width: 70%;
	height:500px;
	text-align: center;
	display: inline-block;
	float:left;
	background-color:#2F4F4F;
}
.blank{
	border-style: none;
    padding: 25px; 
    width: 28%;
	height:250px;
	text-align: center;
	display: inline-block;
	float:left;
}
.tenorpan{
	border-style: none;
    padding: 25px; 
    width: 45%;
	height:250px;
	text-align: center;
	display: inline-block;
	float:left;
}
.blank1{
	border-style: none;
    padding: 25px; 
    width: 17%;
	height:255px;
	text-align: center;
	display: inline-block;
	float:left;
}
.blank2{
	border-style: none;
    padding: 25px; 
    width: 28%;
	height:100px;
	text-align: center;
	display: inline-block;
	float:left;
}
*{padding:0;margin:0;}
body{font:16px/1 sans-serif}


/*VERTICAL MENU*/
nav.vertical{
  position:relative;
  width:200px;
}

/* ALL UL */
nav.vertical ul{
  list-style: none;
}
/* ALL LI */
nav.vertical li{
  position:relative;
}
/* ALL A */
nav.vertical a{
  display:block;
  color:#eee;
  text-decoration:none;
  padding:10px 15px;
  background:#667;
  transition:0.2s;
}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:#778;
}

/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}

.carousel{           
    background: #2f4357;
    margin-top: 20px;
	width: 70%;
	height:400px;
}
.carousel .item img{    
    margin: 0 auto;
	height: auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}


